body{
    background-image: url("imgs/bg.webp");
}

.icon{
    font-family: icomoon;
}

.card{
    margin-top: 5em;

    background-color: white;
    width: 250px;

    padding: 10px;
}

h2{
    border-bottom: 1px black solid;
}

.header{
    margin: auto;
    margin-top: -5em;

    border: 2px white solid;

    box-shadow: 0 0 10px grey;

    object-fit: cover;
    height: 150px;
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;    
}

.img{
    width: 100%;
}
