html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("imgs/bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.icon{
    font-family: icomoon;
}

.icon--red{
    color: red;
}

.card{
    display: inline-block;

    margin-top: 6em;

    background-color: white;
    width: 250px;
}

.card__body{
    padding: 1em;
}

.card__header{
    border-bottom: 1px black solid;

    margin: .5rem 0;
    padding: .25rem 0;

    font-size: 1.5em;
    font-weight: 700;
}

.card__img_header{
    margin: auto;
    margin-top: -5em;

    border: 2px white solid;

    box-shadow: 0 0 10px grey;

    object-fit: cover;
    height: 10em;
    max-width: 10em;
    border-radius: 50%;
    overflow: hidden;    
}

.img{
    width: 100%;
}

.tab{
    display: inline-block;

    margin-left: 20px;
}
